@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins";
}
.myImages{
    height: 250px;
}
.renderCartData{
    height: 340vh;
    width: 20%;
    margin-top: -4.3rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.cartImgElement{
    height: 55px;
    width: 60px;
    margin-left: 1rem;
}
.logo img{
  height: 60px;
}

.navbar{
    background-color: lightblue;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 62px;
}
.cart-icon{
    margin-right: 1.4rem;
    position: relative;
}
.cart-icon i{
    font-size: 30px;
}
.cart-icon sup{
    position: absolute;
   background-color: #fff;
   font-weight: bold;
   padding: 0rem .3rem;   
   font-size: 12px; 
   font-family: "Poppins";
   border-radius: 50%;
   top: -25%;
   right: -26%;
}
.main-container{
    display: flex;
    justify-content: space-between;
}

.renderData{
   background-color: #fff;   
   width: 80%;
   margin-bottom: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.box-main{
    background-color: #fff;
    width: 380px;
    margin-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 3px;
    height: 310px;
}
.box-main img{
    height: 200px;
    width: 200px;
    padding-top: .3rem;
}
.productTitle{
   font-size: 14px;
   margin-top: .3rem;
}
.price-element{
    font-size: 13px;
    margin-top: .2rem;
}
.btn-element{
    padding: .7rem 7rem;
    margin-top: .5rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: lightblue;
    font-family: "Poppins";
    font-weight: bold;
}
.cart-styling{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.fa-trash{
    margin-right: 1rem;
}
.cart-pprice{
    font-size: 13px;
}
.tContainer{
    display: none;
    justify-content: space-between;
    margin-top: .5rem;
}
.line{
    display: none;
    margin-top: 1rem;
}
#total_price{
    font-size: 14px;
    margin-left: 1rem;
}
.tContainer button{
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: lightblue;
    color: black;
    font-family: "Poppins";
    padding: .1rem .3rem;
    cursor: pointer;
    margin-right: .8rem;
    font-weight: bold;
}
.emptyCart h1{
    text-align: center;
    font-size: 26px;
    margin-top: .9rem;
}
.cItems{
    background-color: lightblue;
    display: none;
    justify-content: center;
    align-items: center;
}
.cItems h1{
    font-size: 26px;
    padding: .95rem 0rem;
}
footer {
    background-color: #333;
    color: white;
    justify-items: end;
    padding: 20px 0;
    justify-content: ;

}

.footer-co {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    font-size: 1.2em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}


@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
    }
}